body {
    height: 100%;
}

#content {
    text-align: center;
    width: 50%;
    margin: auto;
}

.death-clock {
    margin: 5px;
    font-size: 32pt;
    font-family: 'brush script mt' script;
}

.time-to-live div {
    margin: 5px;
    font-size: 20pt;
    font-family: 'brush script mt' script;
}

#title {
    font-size: 44px;
}

#quote {
    clear: both;
}
